
    <div class="container-fluid pt-3">
        <div class="row removable">
            <div class="col-lg-12">
                <h1 class="">BUDGET&nbsp;</h1>
                <h1 class="">&nbsp;</h1>
                <div class="row removable">
                    <div class="col-12">
                        <div class="card-deck">


                            <!-- Username card -->

                        </div>
                    </div>
                </div>
                <div class="row removable">
                    <div class="col-lg-12">
                        <div class="row removable">
                            <div class="col-lg-6">
                                <div class="card bg-gradient-primary">
                                    <div class="card-body">
                                        <div class="mb-2">
                                            <p class="text-white">Total Expenses YTD</p>
                                            <sup class="text-white">$</sup> <span class="h2 text-white">7,200,000</span>
                                            <div class="text-light mt-2 text-sm">Spent this month</div>
                                            <div>
                                                <span class="text-danger font-weight-600">-12%</span> <span class="text-light">($1,908)</span>
                                            </div>
                                        </div>
                                        <button class="btn btn-sm btn-block btn-neutral">See details</button>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col"><small class="text-light">Budget left: 25%</small>
                                                <div class="progress progress-xs my-2">
                                                    <div class="progress-bar bg-dark" style="width: 25%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card bg-gradient-default">
                                    <div class="card-body">
                                        <div class="mb-2">
                                            <p class="text-white">Budget Health</p>
                                            <sup class="text-white">Total Budget $</sup> <span class="h2 text-white">10,300,000.00</span>
                                            <div class="text-light mt-2 text-sm">Your current balance</div>
                                            <div>
                                                <span class="text-success font-weight-600">+ 15%</span> <span class="text-light">($250)</span>
                                            </div>
                                        </div>
                                        <button class="btn btn-sm btn-block btn-neutral">Add Budget</button>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <small class="text-light">Orders: 60%</small>
                                                <div class="progress progress-xs my-2">
                                                    <div class="progress-bar bg-success" style="width: 60%"></div>
                                                </div>
                                            </div>
                                            <div class="col"><small class="text-light">Sales: 40%</small>
                                                <div class="progress progress-xs my-2">
                                                    <div class="progress-bar bg-warning" style="width: 40%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Add Budget </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add Budget</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="budget-name" class="form-label">Budget Name</label>
                                                <input type="text" class="form-control" id="budget-name" name="budget-name" required="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="budget-amount" class="form-label">Total Budget Amount</label>
                                                <div class="input-group">
                                                    <span class="input-group-text">$</span>
                                                    <input type="number" class="form-control" id="budget-amount" name="budget-amount" required="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="budget-line-name" class="form-label">Budget Line Name</label>
                                                <input type="text" class="form-control" id="budget-line-name" name="budget-line-name" required="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="budget-line-amount" class="form-label">Budget Line Amount</label>
                                                <div class="input-group">
                                                    <span class="input-group-text">$</span>
                                                    <input type="number" class="form-control" id="budget-line-amount" name="budget-line-amount" required="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="budget-line-name" class="form-label">Budget Line Name</label>
                                                <input type="text" class="form-control" id="budget-line-name" name="budget-line-name" required="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="budget-line-amount" class="form-label">Budget Line Amount</label>
                                                <div class="input-group">
                                                    <span class="input-group-text">$</span>
                                                    <input type="number" class="form-control" id="budget-line-amount" name="budget-line-amount" required="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="budget-line-name" class="form-label">Budget Line Name</label>
                                                <input type="text" class="form-control" id="budget-line-name" name="budget-line-name" required="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="budget-line-amount" class="form-label">Budget Line Amount</label>
                                                <div class="input-group">
                                                    <span class="input-group-text">$</span>
                                                    <input type="number" class="form-control" id="budget-line-amount" name="budget-line-amount" required="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn

            </div>
            <div class=" modal-footer"="">
                                    </button><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="mb-0"></h3>
                    </div>
                    <div class="col text-right">
                        <a href="#!" class="btn btn-sm btn-primary">See all</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">DESCRIPTION</th>
                            <th scope="col">BUDGET</th>
                            <th scope="col">ACTUAL</th>
                            <th scope="col">VARIANCE</th>
                            <th scope="col">% SPEND</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Furniture and fittings</th>
                            <td>
                                2,000,000</td>
                            <td>
                                1,200,000</td>
                            <td>
                                800,000</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">60%</span>
                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="table-actions">
                                <a href="#!" class="table-action" data-toggle="tooltip" data-original-title="Edit product">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Computer Software - Additions</th>
                            <td>
                                2,000,000</td>
                            <td>
                                1,200,000</td>
                            <td>
                                800,000</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">60%</span>
                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="table-actions">
                                <a href="#!" class="table-action" data-toggle="tooltip" data-original-title="Edit product">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Staff Training</th>
                            <td>
                                2,000,000</td>
                            <td>
                                1,200,000</td>
                            <td>
                                800,000</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">60%</span>
                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="table-actions">
                                <a href="#!" class="table-action" data-toggle="tooltip" data-original-title="Edit product">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">Legal Fees</th>
                            <td>
                                2,000,000</td>
                            <td>
                                1,200,000</td>
                            <td>
                                800,000</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">60%</span>
                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="table-actions">
                                <a href="#!" class="table-action" data-toggle="tooltip" data-original-title="Edit product">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Local Travel</th>
                            <td>
                                2,000,000</td>
                            <td>
                                1,200,000</td>
                            <td>
                                800,000</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">60%</span>
                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="table-actions">
                                <a href="#!" class="table-action" data-toggle="tooltip" data-original-title="Edit product">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Covid 19 Protection Expenses</th>
                            <td>
                                2,000,000</td>
                            <td>
                                1,200,000</td>
                            <td>
                                800,000</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">60%</span>
                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="table-actions">
                                <a href="#!" class="table-action" data-toggle="tooltip" data-original-title="Edit product">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row removable">
            <div class="col-12">
                <div class="card-deck">


                    <!-- Username card -->

                </div>
            </div>
        </div>
        <nav aria-label="..." class="">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1">
                        <i class="fa fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">
                        <i class="fa fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
   
