
    <div class="container-fluid pt-3">
        <div class="row mt-3 mb-4 mx-0 removable">
            <div class="card-group w-100">
                <div class="card border shadow-none">
                    <div class="card-body">
                        <div class="row">
                            <div class="col d-flex align-items-center">
                                <h5 class="card-title text-uppercase text-muted mb-0">New</h5>
                                <span class="badge badge-secondary border ml-2 text-md font-weight-bold mb-0">+ 11</span>
                            </div>
                        </div>
                        <p class="mt-2 text-dark font-weight-700 display-3 mb-0">
                            11
                        </p>
                    </div>
                </div>
                <div class="card border shadow-none">
                    <div class="card-body">
                        <div class="row">
                            <div class="col d-flex align-items-center">
                                <h5 class="card-title text-uppercase text-muted mb-0">In review</h5>
                                <span class="badge badge-secondary border ml-2 text-md font-weight-bold mb-0">+ 4</span>
                            </div>
                        </div>
                        <p class="mt-2 text-dark font-weight-700 display-3 mb-0">6</p>
                    </div>
                </div>
                <div class="card border shadow-none">
                    <div class="card-body">
                        <div class="row">
                            <div class="col d-flex align-items-center">
                                <h5 class="card-title text-uppercase text-muted mb-0">Interview</h5>
                                <span class="badge badge-secondary border ml-2 text-md font-weight-bold mb-0">+ 2</span>
                            </div>
                        </div>
                        <p class="mt-2 text-dark font-weight-700 display-3 mb-0">
                            4
                        </p>
                    </div>
                </div>
                <div class="card border shadow-none">
                    <div class="card-body">
                        <div class="row">
                            <div class="col d-flex align-items-center">
                                <h5 class="card-title text-uppercase text-muted mb-0">Offers</h5>
                                <span class="badge badge-secondary border ml-2 text-md font-weight-bold mb-0">+ 1</span>
                            </div>
                        </div>
                        <p class="mt-2 text-dark font-weight-700 display-3 mb-0">
                            2
                        </p>
                    </div>
                </div>
                <div class="card border shadow-none">
                    <div class="card-body">
                        <div class="row">
                            <div class="col d-flex align-items-center">
                                <h5 class="card-title text-uppercase text-muted mb-0">Hired</h5>
                                <span class="badge badge-secondary border ml-2 text-md font-weight-bold mb-0">+ 1</span>
                            </div>
                        </div>
                        <p class="mt-2 text-dark font-weight-700 display-3 mb-0">
                            1
                        </p>
                    </div>
                </div>
                <div class="card border shadow-none">
                    <div class="card-body">
                        <div class="row">
                            <div class="col d-flex align-items-center">
                                <h5 class="card-title text-uppercase text-muted mb-0">Rejected</h5>
                                <span class="badge badge-secondary border ml-2 text-md font-weight-bold mb-0">+ 2</span>
                            </div>
                        </div>
                        <p class="mt-2 text-dark font-weight-700 display-3 mb-0">
                            3
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row removable">
            <div class="col-lg-12">
                <div class="card">
                    <div class="row align-items-center">
                        <div class="col text-left">
                           <div class="col-md-3">
                                    <label for="view" class="form-label">View</label>
                                    <select class="form-select" id="status" name="status" required="">
                                        <option value="">View All</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="col text-left">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Search" id="search-input">
                                <button class="btn btn-primary" type="button" id="search-btn">Search</button>
                            </div>
                        </div>
                         <div class="col-lg-4"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                   New Case
                                </button>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Add Case</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">X</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                               <form>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="case-name" class="form-label">Case Name</label>
                                    <input type="text" class="form-control" id="case-name" name="case-name" required="">
                                </div>
                                <div class="col-md-6">
                                    <label for="law-firm" class="form-label">Law Firm</label>
                                    <input type="text" class="form-control" id="law-firm" name="law-firm" required="">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="department" class="form-label">Department</label>
                                    <select class="form-select" id="department" name="department" required="">
                                        <option value="">Select a department</option>
                                        <option value="Pending">PPWE</option>
                                        <option value="In Progress">PMU</option>
                                        <option value="Completed">ICTS</option>
                                        <option value="Pending">Institutional Research and Quality Management</option>
                                        <option value="In Progress">Centre for Continuing Education</option>
                                        <option value="Completed">Communication and Marketing</option>
                                        <option value="Pending">Faculty of Engineering</option>
                                        <option value="In Progress">Faculty of Applied Science</option>
                                        <option value="Completed">Faculty of Medicine</option>
                                        <option value="Pending">PPWE</option>
                                        <option value="In Progress">Faculty of Built Environment</option>
                                        <option value="Completed">Faculty of Commerce</option>
                                        <option value="Pending">Faculty of Built Environment</option>
                                        <option value="In Progress">Faculty of Commerce</option>
                                        <option value="Completed">Faculty of Communication and Information Science</option>
                                        <option value="Pending">Faculty of Science and Technology Education</option>
                                        <option value="In Progress">Research and Internationalisation</option>
                                        <option value="Completed">Affiliate Institutions</option>
                                        <option value="Pending">Innovation</option>
                                        <option value="In Progress">Business Development</option>
                                        <option value="Completed">Human Resources</option>
                                        <option value="Pending">Academic/Admissions</option>
                                        <option value="In Progress">Legal</option>
                                        <option value="Completed">Central Services</option>
                                        <option value="Pending">Student Affairs </option>
                                        <option value="Completed">Commercial Catering Unit </option>
                                        <option value="Pending">Bursar</option>
                                        <option value="In Progress">Library</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="status" class="form-label">Status</label>
                                    <select class="form-select" id="status" name="status" required="">
                                        <option value="">Select a status</option>
                                        <option value="Pending">Pending</option>
                                        <option value="In Progress">In Progress</option>
                                        <option value="Completed">Completed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label for="start-date" class="form-label">Start Date</label>
                                    <input type="date" class="form-control" id="start-date" name="start-date" required="">
                                </div>
                                <div class="col-md-4">
                                    <label for="deadline" class="form-label">Deadline</label>
                                    <input type="date" class="form-control" id="deadline" name="deadline" required="">
                                </div>
                                <div class="col-md-4">
                                    <label for="estimated-hours" class="form-label">Estimated Hours</label>
                                    <input type="number" class="form-control" id="estimated-hours" name="estimated-hours" required="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                    <label for="members" class="form-label">Members</label>
                                    <select class="form-select" id="status" name="status" required="">
                                        <option value="">Select Members</option>
                                        <option value="John">John</option>
                                        <option value="Mary">Mary</option>
                                        <option value="Jack">Jack</option>
                                    </select>
                                </div>
                            <div class="mb-3">
                                <label for="comments" class="form-label">Comments</label>
                                <textarea class="form-control" id="comments" name="comments"></textarea>
                            </div>
                                                        </form>  
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="card">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Case #</th>
                                    <th scope="col">Law Firm</th>
                                    <th scope="col">Tags</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">Deadline</th>
                                    <th scope="col">Members</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        1
                                    </th>
                                    <td>In House&nbsp;</td>
                                    <td>
                                        Litigation</td>
                                    <td>
                                        21/02/2023</td>
                                    <td>
                                        31/03/2023</td>
                                    <td>
                                        John, Mary</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="mr-2">60%</span>
                                            <div>
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>In House&nbsp;</td>
                                    <td>
                                        Litigation</td>
                                    <td>
                                        21/02/2023</td>
                                    <td>
                                        31/03/2023</td>
                                    <td>
                                        Mary</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="mr-2">60%</span>
                                            <div>
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>In House&nbsp;</td>
                                    <td>
                                        Litigation</td>
                                    <td>
                                        21/02/2023</td>
                                    <td>
                                        31/03/2023</td>
                                    <td>
                                        John</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="mr-2">60%</span>
                                            <div>
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        4
                                    </th>
                                    <td>In House&nbsp;</td>
                                    <td>
                                        Litigation</td>
                                    <td>
                                        21/02/2023</td>
                                    <td>
                                        31/03/2023</td>
                                    <td>
                                        John, Mary</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="mr-2">80%</span>
                                            <div>
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        5
                                    </th>
                                    <td>In House&nbsp;</td>
                                    <td>
                                        Litigation</td>
                                    <td>
                                        21/02/2023</td>
                                    <td>
                                        31/03/2023</td>
                                    <td>
                                        Mary</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="mr-2">10%</span>
                                            <div>
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        6
                                    </th>
                                    <td>In House&nbsp;</td>
                                    <td>
                                        Litigation</td>
                                    <td>
                                        21/02/2023</td>
                                    <td>
                                        31/03/2023</td>
                                    <td>
                                        John</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="mr-2">85%</span>
                                            <div>
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        7
                                    </th>
                                    <td>In House&nbsp;</td>
                                    <td>
                                        Litigation</td>
                                    <td>
                                        21/02/2023</td>
                                    <td>
                                        31/03/2023</td>
                                    <td>
                                        Mary,John</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="mr-2">95%</span>
                                            <div>
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        8
                                    </th>
                                    <td>In House&nbsp;</td>
                                    <td>
                                        Litigation</td>
                                    <td>
                                        21/02/2023</td>
                                    <td>
                                        31/03/2023</td>
                                    <td>
                                        John, Jack,Mary</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="mr-2">65%</span>
                                            <div>
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row removable">
            <div class="col-lg-12">
                <div class="row removable">
                    <div class="col-lg-12">
                        <div class="row removable">
                            <div class="col-lg-4">
                                <div class="row removable">
                                    <div class="col-lg-4">
                                        <nav aria-label="..." class="">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" tabindex="-1">
                                                        <i class="fa fa-angle-left"></i>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>
                                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">
                                                        <i class="fa fa-angle-right"></i>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4"></div>
                                </div>
                            </div>
                           
                            <div class="col-lg-4">
                                <div class="row removable">
                                    <div class="col-lg-6"></div>
                                    <div class="col-lg-6"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 