
  <div class="container-fluid pt-3">
    <div class="row removable">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header border-0 pb-0">
            <h1 class="mb-0">Law Firm Name</h1>
          </div>
          <div class="card-body pt-0 pb-2 px-0">
            <div
              class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
            >
              <div class="d-flex align-items-center">
                <i class="fa text-primary text-lg fa-user"></i>
                <div class="ml-3">
                  <h3 class="mb-0">Profile</h3>
                </div>
              </div>
              <a href="javascript:;"
                ><i class="fa fa-chevron-right text-light"></i
              ></a>
            </div>
            <div class="card-body pt-0 pb-2 px-0">
              <div
                class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
              >
                <div class="d-flex align-items-center">
                  <i class="fa text-primary text-lg fa-users"></i>
                  <div class="ml-3">
                    <h3 class="mb-0">Contacts</h3>
                  </div>
                </div>
                <a href="javascript:;"
                  ><i class="fa fa-chevron-right text-light"></i
                ></a>
              </div>
              <div
                class="border-bottom d-flex align-items-center justify-content-between px-4 py-2"
              >
                <div class="d-flex align-items-center">
                  <i class="fa text-primary text-lg fa-pen"></i>
                  <div class="ml-3">
                    <h3 class="mb-0">Notes</h3>
                  </div>
                </div>
                <a href="javascript:;"
                  ><i class="fa fa-chevron-right text-light"></i
                ></a>
              </div>
              <div
                class="border-bottom d-flex align-items-center justify-content-between px-4 py-2"
              >
                <div class="d-flex align-items-center">
                  <i class="fa fa-map-marker text-primary text-lg"></i>
                  <div class="ml-3">
                    <h3 class="mb-0">Statement</h3>
                  </div>
                </div>
                <a href="javascript:;"
                  ><i class="fa fa-chevron-right text-light"></i
                ></a>
              </div>
              <div
                class="d-flex align-items-center justify-content-between px-4 py-2"
              >
                <div class="d-flex align-items-center">
                  <i class="fa fa-star text-primary text-lg"></i>
                  <div class="ml-3">
                    <h3 class="mb-0">Fee Notes</h3>
                  </div>
                </div>
                <a href="javascript:;"
                  ><i class="fa fa-chevron-right text-light"></i
                ></a>
              </div>
              <div class="card-body pt-0 pb-2 px-0">
                <div
                  class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
                >
                  <div class="d-flex align-items-center">
                    <i class="fa text-primary text-lg fa-handshake"></i>
                    <div class="ml-3">
                      <h3 class="mb-0">Contracts</h3>
                    </div>
                  </div>
                  <a href="javascript:;"
                    ><i class="fa fa-chevron-right text-light"></i
                  ></a>
                </div>
                <div class="card-body pt-0 pb-2 px-0">
                  <div
                    class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
                  >
                    <div class="d-flex align-items-center">
                      <i class="fa text-primary text-lg fa-file"></i>
                      <div class="ml-3">
                        <h3 class="mb-0">Cases</h3>
                      </div>
                    </div>
                    <a href="javascript:;"
                      ><i class="fa fa-chevron-right text-light"></i
                    ></a>
                  </div>
                  <div class="card-body pt-0 pb-2 px-0">
                    <div
                      class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
                    >
                      <div class="d-flex align-items-center">
                        <i class="fa text-primary text-lg fa-cog"></i>
                        <div class="ml-3">
                          <h3 class="mb-0">Tasks</h3>
                        </div>
                      </div>
                      <a href="javascript:;"
                        ><i class="fa fa-chevron-right text-light"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-header border-0">
            <div class="container mt-5">
              <div class="container mt-5">
                <div class="row">
                  <div class="col-md-8">
                    <h2>STATEMENT OF ACCOUNT&nbsp;</h2>
                    <form>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="start-date">Start Date</label>
                            <input
                              type="date"
                              class="form-control"
                              id="start-date"
                            />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="end-date">End Date</label>
                            <input
                              type="date"
                              class="form-control"
                              id="end-date"
                            />
                          </div>
                        </div>
                        <div class="col-md-5">
                          <button type="submit" class="btn btn-primary">
                            Submit
                          </button>
                        </div>
                      </div>
                    </form>
                    <p></p>
                    <p></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Description</th>
                          <th>Debit</th>
                          <th>Credit</th>
                          <th>Balance</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>01/01/2023</td>
                          <td>Opening Balance</td>
                          <td></td>
                          <td></td>
                          <td>$10,000.00</td>
                        </tr>
                        <tr>
                          <td>02/01/2023</td>
                          <td>Invoice #001</td>
                          <td>$1,000.00</td>
                          <td></td>
                          <td>$9,000.00</td>
                        </tr>
                        <tr>
                          <td>03/01/2023</td>
                          <td>Payment Received</td>
                          <td></td>
                          <td>$500.00</td>
                          <td>$9,500.00</td>
                        </tr>
                        <tr>
                          <td>04/01/2023</td>
                          <td>Invoice #002</td>
                          <td>$2,500.00</td>
                          <td></td>
                          <td>$7,000.00</td>
                        </tr>
                        <tr>
                          <td>05/01/2023</td>
                          <td>Invoice #003</td>
                          <td>$1,500.00</td>
                          <td></td>
                          <td>$5,500.00</td>
                        </tr>
                        <tr>
                          <td>06/01/2023</td>
                          <td>Payment Received</td>
                          <td></td>
                          <td>$2,000.00</td>
                          <td>$7,500.00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row removable">
          <div class="col-lg-4">
            <button class="btn btn-primary fa-print">Print</button
            ><button class="btn btn-primary fa-save">Save</button>
          </div>
          <div class="col-lg-4"></div>
          <div class="col-lg-4"></div>
        </div>
      </div>
    </div>
  </div>
