
  <div class="container-fluid pt-3">
    <h3 class="">Law Firms Summary&nbsp;</h3>
    <div class="row mt-3 mb-4 mx-0 removable">
      <div class="card-group w-100">
        <div class="card border shadow-none">
          <div class="card-body">
            <div class="row">
              <div class="col d-flex align-items-center">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Total Law firms
                </h5>
                <span
                  class="badge badge-secondary border ml-2 text-md font-weight-bold mb-0"
                  >+ 11</span
                >
              </div>
            </div>
            <p class="mt-2 text-dark font-weight-700 display-3 mb-0">11</p>
          </div>
        </div>
        <div class="card border shadow-none">
          <div class="card-body">
            <div class="row">
              <div class="col d-flex align-items-center">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  active law firms
                </h5>
                <span
                  class="badge badge-secondary border ml-2 text-md font-weight-bold mb-0"
                  >+ 4</span
                >
              </div>
            </div>
            <p class="mt-2 text-dark font-weight-700 display-3 mb-0">6</p>
          </div>
        </div>
        <div class="card border shadow-none">
          <div class="card-body">
            <div class="row">
              <div class="col d-flex align-items-center">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  inactive law firms
                </h5>
                <span
                  class="badge badge-secondary border ml-2 text-md font-weight-bold mb-0"
                  >+ 2</span
                >
              </div>
            </div>
            <p class="mt-2 text-dark font-weight-700 display-3 mb-0">4</p>
          </div>
        </div>
        <div class="card border shadow-none">
          <div class="card-body">
            <div class="row">
              <div class="col d-flex align-items-center">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  active contacts
                </h5>
                <span
                  class="badge badge-secondary border ml-2 text-md font-weight-bold mb-0"
                  >+ 1</span
                >
              </div>
            </div>
            <p class="mt-2 text-dark font-weight-700 display-3 mb-0">2</p>
          </div>
        </div>
        <div class="card border shadow-none">
          <div class="card-body">
            <div class="row">
              <div class="col d-flex align-items-center">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  inactive contacts
                </h5>
                <span
                  class="badge badge-secondary border ml-2 text-md font-weight-bold mb-0"
                  >+ 1</span
                >
              </div>
            </div>
            <p class="mt-2 text-dark font-weight-700 display-3 mb-0">1</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row removable">
      <div class="col-lg-12">
        <div class="row removable">
          <div class="col-lg-8">
            <div class="row removable">
              <div class="col-lg-6">
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#exampleModal"
                >
                  Add Law Firm
                </button>
                <div
                  class="modal fade"
                  id="exampleModal"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  style="display: none"
                  aria-hidden="true"
                >
                  <div
                    class="modal-dialog modal-dialog-centered"
                    role="document"
                  >
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                          Add Law Firm
                        </h5>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">X</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="mb-3">
                            <label for="law-firm" class="form-label"
                              >Law Firm</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="law-firm"
                              name="law-firm"
                              required=""
                            />
                          </div>
                          <div class="mb-3">
                            <label for="address" class="form-label"
                              >Address</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="address"
                              name="address"
                              required=""
                            />
                          </div>
                          <div class="mb-3">
                            <label for="vat-number" class="form-label"
                              >VAT Number</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="vat-number"
                              name="vat-number"
                              required=""
                            />
                          </div>
                          <div class="mb-3">
                            <label for="city" class="form-label">City</label>
                            <input
                              type="text"
                              class="form-control"
                              id="city"
                              name="city"
                              required=""
                            />
                          </div>
                          <div class="mb-3">
                            <label for="phone-number" class="form-label"
                              >Phone Number</label
                            >
                            <input
                              type="tel"
                              class="form-control"
                              id="phone-number"
                              name="phone-number"
                              required=""
                            />
                          </div>
                          <div class="mb-3">
                            <label for="website" class="form-label"
                              >Website</label
                            >
                            <input
                              type="url"
                              class="form-control"
                              id="website"
                              name="website"
                              required=""
                            />
                          </div>
                          <div class="mb-3">
                            <label for="email" class="form-label"
                              >Email Address</label
                            >
                            <input
                              type="email"
                              class="form-control"
                              id="email"
                              name="email"
                              required=""
                            />
                          </div>
                          <div class="mb-3">
                            <label for="group" class="form-label"
                              >Group</label
                            >
                            <select
                              class="form-select"
                              id="group"
                              name="group"
                              required=""
                            >
                              <option value="">Select a group</option>
                              <option value="1">Group 1</option>
                              <option value="2">Group 2</option>
                              <option value="3">Group 3</option>
                            </select>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal"
                        >
                          Close
                        </button>
                        <button type="button" class="btn btn-primary">
                          Submit
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6"></div>
            </div>
          </div>
          <div class="col-lg-4"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <div class="form-group mb-0">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="Search"
                  type="text"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">&nbsp; &nbsp; &nbsp; &nbsp; No.</th>
              <th scope="col">law Firm</th>
              <th scope="col">Primary Contact</th>
              <th scope="col">Primary Email&nbsp;</th>
              <th scope="col">Phones</th>
              <th scope="col">Active</th>
              <th scope="col">Groups</th>
              <th scope="col">Date Created</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <div class="d-flex align-items-center">
                  <div class="custom-control custom-checkbox">
                    <input
                      class="custom-control-input"
                      id="table-check-1"
                      type="checkbox"
                    />
                    <label
                      class="custom-control-label"
                      for="table-check-1"
                    ></label>
                  </div>
                  <span>1</span>
                </div>
              </th>
              <td>
                Test Law Firm<span
                  class="badge badge-pill badge-success"
                ></span>
              </td>
              <td>
                <span>Test Contact&nbsp;</span>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">test@gmail.com</span>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">0771100200</span>
                </div>
              </td>
              <td>
                <label class="custom-toggle">
                  <input type="checkbox" checked="" />
                  <span
                    class="custom-toggle-slider rounded-circle"
                    data-label-off="No"
                    data-label-on="Yes"
                  ></span>
                </label>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">Litigation&nbsp;</span>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">21/02/2022</span>
                </div>
              </td>
              <td>
                <div class="dropdown">
                  <a
                    class="btn btn-sm btn-icon-only text-light"
                    href="#"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                    style=""
                  >
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="d-flex align-items-center">
                  <div class="custom-control custom-checkbox">
                    <input
                      class="custom-control-input"
                      id="table-check-1"
                      type="checkbox"
                    />
                    <label
                      class="custom-control-label"
                      for="table-check-1"
                    ></label>
                  </div>
                  <span>1</span>
                </div>
              </th>
              <td>
                Test Law Firm<span
                  class="badge badge-pill badge-success"
                ></span>
              </td>
              <td>
                <span>Test Contact&nbsp;</span>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">test@gmail.com</span>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">0771100200</span>
                </div>
              </td>
              <td>
                <label class="custom-toggle">
                  <input type="checkbox" checked="" />
                  <span
                    class="custom-toggle-slider rounded-circle"
                    data-label-off="No"
                    data-label-on="Yes"
                  ></span>
                </label>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">Litigation&nbsp;</span>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">21/02/2022</span>
                </div>
              </td>
              <td>
                <div class="dropdown">
                  <a
                    class="btn btn-sm btn-icon-only text-light"
                    href="#"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                    style=""
                  >
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="d-flex align-items-center">
                  <div class="custom-control custom-checkbox">
                    <input
                      class="custom-control-input"
                      id="table-check-1"
                      type="checkbox"
                    />
                    <label
                      class="custom-control-label"
                      for="table-check-1"
                    ></label>
                  </div>
                  <span>1</span>
                </div>
              </th>
              <td>
                Test Law Firm<span
                  class="badge badge-pill badge-success"
                ></span>
              </td>
              <td>
                <span>Test Contact&nbsp;</span>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">test@gmail.com</span>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">0771100200</span>
                </div>
              </td>
              <td>
                <label class="custom-toggle">
                  <input type="checkbox" checked="" />
                  <span
                    class="custom-toggle-slider rounded-circle"
                    data-label-off="No"
                    data-label-on="Yes"
                  ></span>
                </label>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">Litigation&nbsp;</span>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">21/02/2022</span>
                </div>
              </td>
              <td>
                <div class="dropdown">
                  <a
                    class="btn btn-sm btn-icon-only text-light"
                    href="#"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                    style=""
                  >
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="d-flex align-items-center">
                  <div class="custom-control custom-checkbox">
                    <input
                      class="custom-control-input"
                      id="table-check-1"
                      type="checkbox"
                    />
                    <label
                      class="custom-control-label"
                      for="table-check-1"
                    ></label>
                  </div>
                  <span>1</span>
                </div>
              </th>
              <td>
                Test Law Firm<span
                  class="badge badge-pill badge-success"
                ></span>
              </td>
              <td>
                <span>Test Contact&nbsp;</span>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">test@gmail.com</span>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">0771100200</span>
                </div>
              </td>
              <td>
                <label class="custom-toggle">
                  <input type="checkbox" checked="" />
                  <span
                    class="custom-toggle-slider rounded-circle"
                    data-label-off="No"
                    data-label-on="Yes"
                  ></span>
                </label>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">Litigation&nbsp;</span>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">21/02/2022</span>
                </div>
              </td>
              <td>
                <div class="dropdown">
                  <a
                    class="btn btn-sm btn-icon-only text-light"
                    href="#"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                    style=""
                  >
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="d-flex align-items-center">
                  <div class="custom-control custom-checkbox">
                    <input
                      class="custom-control-input"
                      id="table-check-1"
                      type="checkbox"
                    />
                    <label
                      class="custom-control-label"
                      for="table-check-1"
                    ></label>
                  </div>
                  <span>1</span>
                </div>
              </th>
              <td>
                Test Law Firm<span
                  class="badge badge-pill badge-success"
                ></span>
              </td>
              <td>
                <span>Test Contact&nbsp;</span>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">test@gmail.com</span>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">0771100200</span>
                </div>
              </td>
              <td>
                <label class="custom-toggle">
                  <input type="checkbox" checked="" />
                  <span
                    class="custom-toggle-slider rounded-circle"
                    data-label-off="No"
                    data-label-on="Yes"
                  ></span>
                </label>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">Litigation&nbsp;</span>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">21/02/2022</span>
                </div>
              </td>
              <td>
                <div class="dropdown">
                  <a
                    class="btn btn-sm btn-icon-only text-light"
                    href="#"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                    style=""
                  >
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="d-flex align-items-center">
                  <div class="custom-control custom-checkbox">
                    <input
                      class="custom-control-input"
                      id="table-check-1"
                      type="checkbox"
                    />
                    <label
                      class="custom-control-label"
                      for="table-check-1"
                    ></label>
                  </div>
                  <span>1</span>
                </div>
              </th>
              <td>
                Test Law Firm<span
                  class="badge badge-pill badge-success"
                ></span>
              </td>
              <td>
                <span>Test Contact&nbsp;</span>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">test@gmail.com</span>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">0771100200</span>
                </div>
              </td>
              <td>
                <label class="custom-toggle">
                  <input type="checkbox" checked="" />
                  <span
                    class="custom-toggle-slider rounded-circle"
                    data-label-off="No"
                    data-label-on="Yes"
                  ></span>
                </label>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">Litigation&nbsp;</span>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">21/02/2022</span>
                </div>
              </td>
              <td>
                <div class="dropdown">
                  <a
                    class="btn btn-sm btn-icon-only text-light"
                    href="#"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                    style=""
                  >
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="d-flex align-items-center">
                  <div class="custom-control custom-checkbox">
                    <input
                      class="custom-control-input"
                      id="table-check-1"
                      type="checkbox"
                    />
                    <label
                      class="custom-control-label"
                      for="table-check-1"
                    ></label>
                  </div>
                  <span>1</span>
                </div>
              </th>
              <td>
                Test Law Firm<span
                  class="badge badge-pill badge-success"
                ></span>
              </td>
              <td>
                <span>Test Contact&nbsp;</span>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">test@gmail.com</span>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">0771100200</span>
                </div>
              </td>
              <td>
                <label class="custom-toggle">
                  <input type="checkbox" checked="" />
                  <span
                    class="custom-toggle-slider rounded-circle"
                    data-label-off="No"
                    data-label-on="Yes"
                  ></span>
                </label>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">Litigation&nbsp;</span>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="ml-2">21/02/2022</span>
                </div>
              </td>
              <td>
                <div class="dropdown">
                  <a
                    class="btn btn-sm btn-icon-only text-light"
                    href="#"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                    style=""
                  >
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row removable">
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <nav aria-label="..." class="">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" tabindex="-1">
                <i class="fa fa-angle-left"></i>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#"
                >2 <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">
                <i class="fa fa-angle-right"></i>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
