
  <div class="container-fluid pt-3">
    <div class="row removable">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header border-0 pb-0">
            <h1 class="mb-0">Law Firm Name</h1>
          </div>
          <div class="card-body pt-0 pb-2 px-0">
            <div
              class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
            >
              <div class="d-flex align-items-center">
                <i class="fa text-lg fa-user text-primary"></i>
                <div class="ml-3">
                  <h3 class="mb-0">Profile</h3>
                </div>
              </div>
              <a href="javascript:;"
                ><i class="fa fa-chevron-right text-light"></i
              ></a>
            </div>
            <div class="card-body pt-0 pb-2 px-0">
              <div
                class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
              >
                <div class="d-flex align-items-center">
                  <i class="fa text-primary text-lg fa-users"></i>
                  <div class="ml-3">
                    <h3 class="mb-0">Contacts</h3>
                  </div>
                </div>
                <a href="javascript:;"
                  ><i class="fa fa-chevron-right text-light"></i
                ></a>
              </div>
              <div
                class="border-bottom d-flex align-items-center justify-content-between px-4 py-2"
              >
                <div class="d-flex align-items-center">
                  <i class="fa text-primary text-lg fa-pen"></i>
                  <div class="ml-3">
                    <h3 class="mb-0">Notes</h3>
                  </div>
                </div>
                <a href="javascript:;"
                  ><i class="fa fa-chevron-right text-light"></i
                ></a>
              </div>
              <div
                class="border-bottom d-flex align-items-center justify-content-between px-4 py-2"
              >
                <div class="d-flex align-items-center">
                  <i class="fa fa-map-marker text-primary text-lg"></i>
                  <div class="ml-3">
                    <h3 class="mb-0">Statement</h3>
                  </div>
                </div>
                <a href="javascript:;"
                  ><i class="fa fa-chevron-right text-light"></i
                ></a>
              </div>
              <div
                class="d-flex align-items-center justify-content-between px-4 py-2"
              >
                <div class="d-flex align-items-center">
                  <i class="fa fa-star text-primary text-lg"></i>
                  <div class="ml-3">
                    <h3 class="mb-0">Fee Notes</h3>
                  </div>
                </div>
                <a href="javascript:;"
                  ><i class="fa fa-chevron-right text-light"></i
                ></a>
              </div>
              <div class="card-body pt-0 pb-2 px-0">
                <div
                  class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
                >
                  <div class="d-flex align-items-center">
                    <i class="fa text-primary text-lg fa-handshake"></i>
                    <div class="ml-3">
                      <h3 class="mb-0">Contracts</h3>
                    </div>
                  </div>
                  <a href="javascript:;"
                    ><i class="fa fa-chevron-right text-light"></i
                  ></a>
                </div>
                <div class="card-body pt-0 pb-2 px-0">
                  <div
                    class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
                  >
                    <div class="d-flex align-items-center">
                      <i class="fa text-primary text-lg fa-file"></i>
                      <div class="ml-3">
                        <h3 class="mb-0">Cases</h3>
                      </div>
                    </div>
                    <a href="javascript:;"
                      ><i class="fa fa-chevron-right text-light"></i
                    ></a>
                  </div>
                  <div class="card-body pt-0 pb-2 px-0">
                    <div
                      class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
                    >
                      <div class="d-flex align-items-center">
                        <i class="fa text-primary text-lg fa-cog"></i>
                        <div class="ml-3">
                          <h3 class="mb-0">Tasks</h3>
                        </div>
                      </div>
                      <a href="javascript:;"
                        ><i class="fa fa-chevron-right text-light"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row removable">
          <div class="col-lg-6">
            <div class="">
              <div class="nav-wrapper">
                <ul
                  class="nav nav-pills nav-fill flex-column flex-md-row"
                  id="tabs-icons-text"
                  role="tablist"
                >
                  <li class="nav-item">
                    <div class="form-group">
                      <div class="dropdown">
                        <button
                          class="btn btn-secondary dropdown-toggle"
                          type="button"
                          id="dropdownMenuButton"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          25
                        </button>
                        <div
                          class="dropdown-menu"
                          aria-labelledby="dropdownMenuButton"
                          style="
                            position: absolute;
                            will-change: transform;
                            top: 0px;
                            left: 0px;
                            transform: translate3d(0px, 43px, 0px);
                          "
                          x-placement="bottom-start"
                        >
                          <a class="dropdown-item" href="#">50</a>
                          <a class="dropdown-item" href="#">100</a>
                          <a class="dropdown-item" href="#">150</a>
                          <a class="dropdown-item" href="#">All</a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <button
                      type="button"
                      class="btn btn-neutral"
                      data-bs-toggle="modal"
                      data-bs-target="#newNoteModal"
                    >
                      Write a New Note
                    </button>

                    <div
                      class="modal fade"
                      id="newNoteModal"
                      tabindex="-1"
                      aria-labelledby="newNoteModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="newNoteModalLabel">
                              New Note
                            </h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            <form>
                              <div class="mb-3">
                                <label for="noteTitle" class="form-label"
                                  >New Note</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  id="noteTitle"
                                  placeholder="Enter note title"
                                />
                              </div>
                              <div class="mb-3">
                                <label for="noteContent" class="form-label"
                                  >Content</label
                                >
                                <textarea
                                  class="form-control"
                                  id="noteContent"
                                  rows="5"
                                  placeholder="Enter note content"
                                ></textarea>
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-bs-dismiss="modal"
                            >
                              Close
                            </button>
                            <button type="button" class="btn btn-primary">
                              Save Note
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link mb-sm-3 mb-md-0 active"
                      id="tabs-icons-text-2-tab"
                      data-toggle="tab"
                      href="#tabs-icons-text-2"
                      role="tab"
                      aria-controls="tabs-icons-text-2"
                      aria-selected="true"
                      >Export</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6"></div>
        </div>
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center"></div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Description</th>
                  <th scope="col">Added From</th>
                  <th scope="col">Date Added</th>
                  <th scope="col">Options</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Note Description</td>
                  <td>test Lawyer</td>
                  <td>03/03/2023</td>
                  <td>03/03/2023</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
